# Dependencies
node_modules/

# Build
dist/
build/
.next/
out/

# Environment
.env
.env*.local

# Logs
*.log
npm-debug.log*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Database
data.db
.vercel
